 <h1>Add Category</h1>
    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}
    <form action="/categories" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <button type="submit">Add Category</button>
    </form>
    <a href="/categories">Back to Categories</a> <!-- Link to Show Categories page -->