<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Categories</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>All Categories</h1>
    <a href="/add-category">Add New Category</a> <!-- Link to Add Category page -->
    <ul>
        {{#each categories}}
            <li>{{this.title}}</li>
        {{/each}}
    </ul>
</body>
</html>