<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>All Users</h1>
    <a href="/add-user">Add New User</a> <!-- Link to Add User page -->
    <ul>
        {{#each users}}
            <li>{{this.name}} - {{this.phone}}</li>
        {{/each}}
    </ul>
</body>
</html>